[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = "*"
bhtsne = "*"
spacy = "*"
textract = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
kaggle = "*"
jupyterlab = "*"
altair = "*"
xgboost = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.8"
