[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = "*"
bhtsne = "*"
spacy = "*"
textract = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
kaggle = "*"
jupyterlab = "*"
altair = "*"
xgboost = "*"
pyarrow = "*"
ipywidgets = "*"
optuna = "*"

[requires]
python_version = "3.8"

[dev-packages]

[packages.python-language-server]
extras = [ "all",]

[packages.e1839a8]
path = "."
editable = true
